<div class="playlist-select">
  <%= form_for @user, url: admin_select_playlist_path do |f| %>
    <div class="radio">
      <label>
        <%= f.radio_button(:selected_playlist_id, "", class: "radio") %>
        Use your "My Music" library
      </label>
    </div>
    <% unless @playlists.count==0 %>
      <div><strong>Or use one of your playlists:</strong></div>
      <% @playlists.each do |pl| %>
        <div class="radio">
          <label>
            <%= f.radio_button(:selected_playlist_id, pl[:playlist_id], class: "radio") %>
            <%= pl[:name] %>
          </label>
        </div>
      <% end %>
    <% else %>
      <div>You have no playlists.</div>
    <% end %>

    <%= f.submit "Populate tracks", class: "btn btn-primary" %>
    <%= link_to 'Refresh playlists', admin_refresh_playlists_path, {class: "btn btn-default", role: "button"} %>
    <%= link_to 'Close', root_path %>
  <% end %>
</div>