<div class="admin-outer">
  <div class="container admin">
    <% if User.count==0 %>
      <div class="user">
        You are not signed in.
        <%= link_to 'Sign in with Spotify', '/admin/auth', {class: "btn btn-info", role: "button"} %>
      </div>
    <% else %>
      <div class="user">
        Currently signed in as <strong><%= content_tag :a, @user.user_id, href: @user.url, class: "user-id" %></strong>.
        <%= link_to 'Sign out', admin_logout_path, {class: "btn btn-danger btn-xs", role: "button", method: :delete, data: {confirm: "Are you sure you want to sign out?"}} %>
      </div>
      <%= render 'playlist_select' %>
    <% end %>
  </div>
</div>

<%= render 'home/album_listings' %>
