<div class="row album-tracklist" id="<%= album.album_id %>">
  <div class="hidden-xs col-sm-4 col-md-3 cover-art">
    <%= link_to content_tag(:img, nil, src: album[:image_url], class: "cover-art-img"), album[:url] %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-9 album">
    <div class="row">
      <div class="visible-xs-block col-xs-3 cover-art">
        <%= link_to content_tag(:img, nil, src: album[:image_url], class: "cover-art-img"), album[:url] %>
      </div>
      <% album_disp = album.artists.pluck(:name, :url) %>
      <h3 class="col-xs-9 col-sm-12 album-title">
        <%= link_to album[:name], album[:url] %>
        <small class="album-artists"><%= raw album_disp.map{|aa| link_to aa[0], aa[1]}.join(", ") %></small>
      </h3>
    </div>

    <% album_discs = album.tracks.pluck(:disc_number).uniq.sort %>
    <% album_discs.each do |disc| %>
      <div class="row tracks">
        <% unless album_discs.count==1 && disc==1 %>
          <h4 class="disc-number"><%= "Disc #{disc}" %></h4>
        <% end %>
        <div class="col-xs-12 col-lg-10 tracklist">
          <% album.tracks.where(disc_number: disc).order(:track_number).each do |track| %>
            <div class="track" id="<%= track.track_id %>">
              <button type="button" class="preview-btn btn btn-xs btn-default" title="Preview" aria-label="Preview" <%= raw (track.preview_url==nil ? "disabled=\"disabled\"" : "data-preview-url=\"#{track.preview_url}\"") %> >
                  <span class="preview-icon glyphicon glyphicon-play" aria-hidden="true"></span>
                <%= track[:track_number].to_s %>
              </button>
              <%= link_to track[:name], track[:url], class: "track-name" %>
              <% track_disp = track.artists.pluck(:name, :url).delete_if { |track| album_disp.include?(track) } %>
              <small class="track-artists"><%= raw (track_disp.empty? ? "" : " \u2022 " + track_disp.map{|ta| link_to ta[0], ta[1]}.join(", ")) %></small>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>