<div>
  <strong><%= album[:name] %></strong>
  <% album_disp = album.artists.pluck(:name) %>
  <%= " \u2022 #{album_disp.join(", ")}" %>
</div>

<% album_discs = album.tracks.pluck(:disc_number).uniq.sort %>
<% album_discs.each do |disc| %>
  <%= "Disc #{disc}" unless album_discs.count==1 && disc==1 %>
  <ul>
    <% album.tracks.where(disc_number: disc).order(:track_number).each do |track| %>
      <li>
        <%= track[:track_number].to_s + " - " + track[:name] %>
        <% track_disp = track.artists.pluck(:name).delete_if { |track| album_disp.include?(track) } %>
        <%= (track_disp.empty? ? "" : " \u2022 #{track_disp.join(", ") }") %>
      </li>
    <% end %>
  </ul>
<% end %>