<!DOCTYPE html>
<html>
<head>
  <title>PlaylistPresent</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-#{name}" %>
<% end %>

<%= yield %>

<footer class="footer">
  <div class="container">
    <% if params[:controller]!="admin" %>
      <%= link_to "Admin", admin_path, class: "text-muted" %>
      <div class="text-muted">&#8226;</div>
    <% elsif User.count!=0 %>
      <%= link_to "Home", root_path, class: "text-muted" %>
      <div class="text-muted">&#8226;</div>
    <% end %>
    <%= link_to "Source", ENV['source_url'], class: "text-muted" %></div>
  </div>
</footer>

</body>
</html>
